# Data Extraction & Cleaning

## Data Sets used


1. Movie Data from 1914 to 2021 (Moviedata2021.csv)

Source: Kaggle https://www.kaggle.com/code/ruchi798/movies-and-tv-shows-eda/data?select=MoviesOnStreamingPlatforms_updated.csv
2. Movie Data from 1902 to 2020 (Moviedata2020.csv)

Source Kaggle https://www.kaggle.com/code/armintalic/quality-and-quantity-of-streaming-services-content/data?select=MoviesOnStreamingPlatforms_updated.csv

In [48]:
import numpy as np
import pandas as pd

## Extracting & Comparing data sets

In [49]:
Moviedata2021 = pd.read_csv('Moviedata2021.csv')
Moviedata2021.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0,Martin Scorsese,"Biography,Crime,Drama",United States,"English,Italian,Latin,Spanish,German",209.0
1,1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0,Nitesh Tiwari,"Action,Biography,Drama,Sport","India,United States,United Kingdom,Australia,K...","Hindi,English",161.0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,"Alastair Fothergill,Jonathan Hughes,Keith Scholey","Documentary,Biography",United Kingdom,English,83.0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0,Ashutosh Gowariker,"Drama,Musical,Sport","India,United Kingdom","Hindi,English",224.0
4,4,5,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0,NaN,"Action,Drama,History,Romance,War","United Kingdom,United States",English,52.0

### Data Information

IMDb Score is in x.x/10 format
Rotten Tomatoes Score is in xxx/100 format

In [50]:
Moviedata2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9515 non-null   int64
 1   ID               9515 non-null   int64
 2   Title            9515 non-null   object
 3   Year             9515 non-null   int64
 4   Age              5338 non-null   object
 5   IMDb             9309 non-null   object
 6   Rotten Tomatoes  9508 non-null   object
 7   Netflix          9515 non-null   int64
 8   Hulu             9515 non-null   int64
 9   Prime Video      9515 non-null   int64
 10  Disney+          9515 non-null   int64
 11  Type             9515 non-null   int64
 12  Directors        9104 non-null   object
 13  Genres           9399 non-null   object
 14  Country          9261 non-null   object
 15  Language         9202 non-null   object
 16  Runtime          9196 non-null   float64
dtypes: float64(1), int64(8), object(8)
memory usage: 1.2+ MB

In [51]:
Moviedata2020 = pd.read_csv('Moviedata2020.csv')
Moviedata2020.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [52]:
Moviedata2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16145 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

### Data Information

IMDb Score is in float format
Rotten Tomatoes Score is in percentage format

## Data Combination 

Combine our data sets using excel copy by copying all the rows from 2021 into 2020 csv. Resultant csv file is MoviesCombined.csv

In [53]:
MoviesCombined = pd.read_csv('MoviesCombined.csv')
MoviesCombined.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [54]:
MoviesCombined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26259 entries, 0 to 26258
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       26259 non-null  int64
 1   ID               26259 non-null  int64
 2   Title            26259 non-null  object
 3   Year             26259 non-null  int64
 4   Age              12692 non-null  object
 5   IMDb             25482 non-null  object
 6   Rotten Tomatoes  14666 non-null  object
 7   Netflix          26259 non-null  int64
 8   Hulu             26259 non-null  int64
 9   Prime Video      26259 non-null  int64
 10  Disney+          26259 non-null  int64
 11  Type             26259 non-null  int64
 12  Directors        25122 non-null  object
 13  Genres           25868 non-null  object
 14  Country          25570 non-null  object
 15  Language         25347 non-null  object
 16  Runtime          25348 non-null  float64
dtypes: float64(1), int64(8), object(8)
memory usage: 3.4+ MB

## Data Cleaning & Resolving Format Differences in Excel

This portion of Data Cleaning was done in Excel

### Changes/Additions:
IMDb Column was changed to float format
Rotten Column was changed to float format 
Availability Score Column was added to denote the Total Number of Platforms a movie was available on
Directors, Genres, Country and Language Columns were changed to only include the first Director, Genre, Country & Language in each cell
Created Age of Movie Column

### Removals:
Unnecessary Columns were removed in Excel including: 
Year
Netflix
Hulu
Prime Video
Disney+
Rows with empty Rotton Tomatoes Scores were removed


### File Information
New File "Movies-Excel-Clean.csv" was created

In [57]:
ExcelClean = pd.read_csv("Movies-Excel-Clean.csv")
ExcelClean.head()

,ID,Title,Age of Movie,Age Category,IMDb,Rotten,Availability,Directors,Genres,Country,Language,Runtime
0,1,Inception,12,13+,8.8,87.0,1,Christopher Nolan,Action,United States,English,148.0
1,2,The Matrix,23,18+,8.7,87.0,1,Lana Wachowski,Action,United States,English,136.0
2,3,Avengers: Infinity War,4,13+,8.5,84.0,1,Anthony Russo,Action,United States,English,149.0
3,4,Back to the Future,37,7+,8.5,96.0,1,Robert Zemeckis,Adventure,United States,English,116.0
4,5,"The Good, the Bad and the Ugly",56,18+,8.8,97.0,2,Sergio Leone,Western,Italy,Italian,161.0

In [58]:
ExcelClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9397 entries, 0 to 9396
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            9397 non-null   int64
 1   Title         9397 non-null   object
 2   Age of Movie  9397 non-null   int64
 3   Age Category  5756 non-null   object
 4   IMDb          9279 non-null   float64
 5   Rotten        9393 non-null   float64
 6   Availability  9397 non-null   int64
 7   Directors     9073 non-null   object
 8   Genres        9323 non-null   object
 9   Country       9249 non-null   object
 10  Language      9190 non-null   object
 11  Runtime       9187 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 881.1+ KB

## Data Cleaning in Python

### Removals
Rows with NAN Values were dropped

In [59]:
df1 = ExcelClean.copy()
df1 = df1.dropna()
df1.head()

,ID,Title,Age of Movie,Age Category,IMDb,Rotten,Availability,Directors,Genres,Country,Language,Runtime
0,1,Inception,12,13+,8.8,87.0,1,Christopher Nolan,Action,United States,English,148.0
1,2,The Matrix,23,18+,8.7,87.0,1,Lana Wachowski,Action,United States,English,136.0
2,3,Avengers: Infinity War,4,13+,8.5,84.0,1,Anthony Russo,Action,United States,English,149.0
3,4,Back to the Future,37,7+,8.5,96.0,1,Robert Zemeckis,Adventure,United States,English,116.0
4,5,"The Good, the Bad and the Ugly",56,18+,8.8,97.0,2,Sergio Leone,Western,Italy,Italian,161.0

In [60]:
df1 = df1.sort_values(['ID']).reset_index(drop=True)

In [61]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5556 entries, 0 to 5555
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID            5556 non-null   int64
 1   Title         5556 non-null   object
 2   Age of Movie  5556 non-null   int64
 3   Age Category  5556 non-null   object
 4   IMDb          5556 non-null   float64
 5   Rotten        5556 non-null   float64
 6   Availability  5556 non-null   int64
 7   Directors     5556 non-null   object
 8   Genres        5556 non-null   object
 9   Country       5556 non-null   object
 10  Language      5556 non-null   object
 11  Runtime       5556 non-null   float64
dtypes: float64(3), int64(3), object(6)
memory usage: 521.0+ KB

In [62]:
df1.to_csv("Final-CLEAN-Dataset.csv", index=False)