# Data Extraction & Cleaning

## Data Sets used


1. Movie Data from 1914 to 2021 (Moviedata2021.csv)

Source: Kaggle https://www.kaggle.com/code/ruchi798/movies-and-tv-shows-eda/data?select=MoviesOnStreamingPlatforms_updated.csv
2. Movie Data from 1902 to 2020 (Moviedata2020.csv)

Source Kaggle https://www.kaggle.com/code/armintalic/quality-and-quantity-of-streaming-services-content/data?select=MoviesOnStreamingPlatforms_updated.csv

In [1]:
import numpy as np
import pandas as pd

## Extracting & Comparing data sets

In [2]:
Moviedata2021 = pd.read_csv('Moviedata2021.csv')
Moviedata2021.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,The Irishman,2019,18+,7.8/10,98/100,1,0,0,0,0,Martin Scorsese,"Biography,Crime,Drama",United States,"English,Italian,Latin,Spanish,German",209.0
1,1,2,Dangal,2016,7+,8.4/10,97/100,1,0,0,0,0,Nitesh Tiwari,"Action,Biography,Drama,Sport","India,United States,United Kingdom,Australia,K...","Hindi,English",161.0
2,2,3,David Attenborough: A Life on Our Planet,2020,7+,9.0/10,95/100,1,0,0,0,0,"Alastair Fothergill,Jonathan Hughes,Keith Scholey","Documentary,Biography",United Kingdom,English,83.0
3,3,4,Lagaan: Once Upon a Time in India,2001,7+,8.1/10,94/100,1,0,0,0,0,Ashutosh Gowariker,"Drama,Musical,Sport","India,United Kingdom","Hindi,English",224.0
4,4,5,Roma,2018,18+,7.7/10,94/100,1,0,0,0,0,NaN,"Action,Drama,History,Romance,War","United Kingdom,United States",English,52.0

### Data Information

IMDb Score is in x.x/10 format
Rotten Tomatoes Score is in xxx/100 format

In [3]:
Moviedata2021.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9515 entries, 0 to 9514
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       9515 non-null   int64
 1   ID               9515 non-null   int64
 2   Title            9515 non-null   object
 3   Year             9515 non-null   int64
 4   Age              5338 non-null   object
 5   IMDb             9309 non-null   object
 6   Rotten Tomatoes  9508 non-null   object
 7   Netflix          9515 non-null   int64
 8   Hulu             9515 non-null   int64
 9   Prime Video      9515 non-null   int64
 10  Disney+          9515 non-null   int64
 11  Type             9515 non-null   int64
 12  Directors        9104 non-null   object
 13  Genres           9399 non-null   object
 14  Country          9261 non-null   object
 15  Language         9202 non-null   object
 16  Runtime          9196 non-null   float64
dtypes: float64(1), int64(8), object(8)
memory usage: 1.2+ MB

In [4]:
Moviedata2020 = pd.read_csv('Moviedata2020.csv')
Moviedata2020.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [5]:
Moviedata2020.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16744 entries, 0 to 16743
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       16744 non-null  int64
 1   ID               16744 non-null  int64
 2   Title            16744 non-null  object
 3   Year             16744 non-null  int64
 4   Age              7354 non-null   object
 5   IMDb             16173 non-null  float64
 6   Rotten Tomatoes  5158 non-null   object
 7   Netflix          16744 non-null  int64
 8   Hulu             16744 non-null  int64
 9   Prime Video      16744 non-null  int64
 10  Disney+          16744 non-null  int64
 11  Type             16744 non-null  int64
 12  Directors        16018 non-null  object
 13  Genres           16469 non-null  object
 14  Country          16309 non-null  object
 15  Language         16145 non-null  object
 16  Runtime          16152 non-null  float64
dtypes: float64(2), int64(8), object(7)
memory usage: 2.2+ MB

### Data Information

IMDb Score is in float format
Rotten Tomatoes Score is in percentage format

## Data Combination 

Combine our data sets using excel copy by copying all the rows from 2021 into 2020 csv. Resultant csv file is MoviesCombined.csv

In [6]:
MoviesCombined = pd.read_csv('MoviesCombined.csv')
MoviesCombined.head()

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,13+,8.8,87%,1,0,0,0,0,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,1,2,The Matrix,1999,18+,8.7,87%,1,0,0,0,0,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,2,3,Avengers: Infinity War,2018,13+,8.5,84%,1,0,0,0,0,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,3,4,Back to the Future,1985,7+,8.5,96%,1,0,0,0,0,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,18+,8.8,97%,1,0,1,0,0,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [7]:
MoviesCombined.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26259 entries, 0 to 26258
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       26259 non-null  int64
 1   ID               26259 non-null  int64
 2   Title            26259 non-null  object
 3   Year             26259 non-null  int64
 4   Age              12692 non-null  object
 5   IMDb             25482 non-null  object
 6   Rotten Tomatoes  14666 non-null  object
 7   Netflix          26259 non-null  int64
 8   Hulu             26259 non-null  int64
 9   Prime Video      26259 non-null  int64
 10  Disney+          26259 non-null  int64
 11  Type             26259 non-null  int64
 12  Directors        25122 non-null  object
 13  Genres           25868 non-null  object
 14  Country          25570 non-null  object
 15  Language         25347 non-null  object
 16  Runtime          25348 non-null  float64
dtypes: float64(1), int64(8), object(8)
memory usage: 3.4+ MB

## Data Cleaning & Resolving Format Differences

Our Data Cleaning was done mainly in excel
Cleaning for respective Columns

### Changes/Additions:
IMDb Column was changed to float format
Rotten Column was changed to float format 
Availability Score Column was added to denote the Total Number of Platforms a movie was available on
Directors, Genres, Country and Language Columns were changed to only include the first Director, Genre, Country & Language in each cell
Created Age of Movie Column
Re-ordered ID Column from 1-5556

### Removals:
Unnecessary Columns were removed in Excel including: 
Year
Netflix
Hulu
Prime Video
Disney+

Rows with rottem tomatoe scores of 0 using filter function on excel 


### File Information
New File "Movies-Excel-Clean.csv" was created

In [8]:
ExcelClean = pd.read_csv("Movies-Excel-Clean.csv")
ExcelClean.head()

,Unnamed: 0,ID,Title,Year,Age of Movie,Age Category,IMDb,Rotten,Netflix,Hulu,Prime Video,Disney+,Availability,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,12,13+,8.8,87.0,1,0,0,0,1,Christopher Nolan,Action,United States,English,148.0
1,1,2,The Matrix,1999,23,18+,8.7,87.0,1,0,0,0,1,Lana Wachowski,Action,United States,English,136.0
2,2,3,Avengers: Infinity War,2018,4,13+,8.5,84.0,1,0,0,0,1,Anthony Russo,Action,United States,English,149.0
3,3,4,Back to the Future,1985,37,7+,8.5,96.0,1,0,0,0,1,Robert Zemeckis,Adventure,United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,56,18+,8.8,97.0,1,0,1,0,2,Sergio Leone,Western,Italy,Italian,161.0

In [9]:
ExcelClean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20983 entries, 0 to 20982
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    20983 non-null  int64
 1   ID            20983 non-null  int64
 2   Title         20983 non-null  object
 3   Year          20983 non-null  int64
 4   Age of Movie  20983 non-null  int64
 5   Age Category  9739 non-null   object
 6   IMDb          20296 non-null  float64
 7   Rotten        20979 non-null  float64
 8   Netflix       20983 non-null  int64
 9   Hulu          20983 non-null  int64
 10  Prime Video   20983 non-null  int64
 11  Disney+       20983 non-null  int64
 12  Availability  20983 non-null  int64
 13  Directors     20039 non-null  object
 14  Genres        20639 non-null  object
 15  Country       20419 non-null  object
 16  Language      20224 non-null  object
 17  Runtime       20217 non-null  float64
dtypes: float64(3), int64(9), object(6)
memory usage: 2.9+ MB

## Data Cleaning in Python

### Removals
Rows with NAN Values were dropped

In [10]:
df1 = ExcelClean.copy()
df1 = df1.dropna()
df1.head()

,Unnamed: 0,ID,Title,Year,Age of Movie,Age Category,IMDb,Rotten,Netflix,Hulu,Prime Video,Disney+,Availability,Directors,Genres,Country,Language,Runtime
0,0,1,Inception,2010,12,13+,8.8,87.0,1,0,0,0,1,Christopher Nolan,Action,United States,English,148.0
1,1,2,The Matrix,1999,23,18+,8.7,87.0,1,0,0,0,1,Lana Wachowski,Action,United States,English,136.0
2,2,3,Avengers: Infinity War,2018,4,13+,8.5,84.0,1,0,0,0,1,Anthony Russo,Action,United States,English,149.0
3,3,4,Back to the Future,1985,37,7+,8.5,96.0,1,0,0,0,1,Robert Zemeckis,Adventure,United States,English,116.0
4,4,5,"The Good, the Bad and the Ugly",1966,56,18+,8.8,97.0,1,0,1,0,2,Sergio Leone,Western,Italy,Italian,161.0

In [11]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9301 entries, 0 to 20965
Data columns (total 18 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    9301 non-null   int64
 1   ID            9301 non-null   int64
 2   Title         9301 non-null   object
 3   Year          9301 non-null   int64
 4   Age of Movie  9301 non-null   int64
 5   Age Category  9301 non-null   object
 6   IMDb          9301 non-null   float64
 7   Rotten        9301 non-null   float64
 8   Netflix       9301 non-null   int64
 9   Hulu          9301 non-null   int64
 10  Prime Video   9301 non-null   int64
 11  Disney+       9301 non-null   int64
 12  Availability  9301 non-null   int64
 13  Directors     9301 non-null   object
 14  Genres        9301 non-null   object
 15  Country       9301 non-null   object
 16  Language      9301 non-null   object
 17  Runtime       9301 non-null   float64
dtypes: float64(3), int64(9), object(6)
memory usage: 1.3+ MB

In [12]:
df1.to_csv("Final-CLEAN-Dataset.csv")